.metadata/*
*.DS_Store
*.o
_site/*
HelloOggVorbis/arm/*
HelloOggVorbis/x86/*
SmartSignals/arm/*
SmartSignals/x86/*
Webcast1SampleApp/arm/*
Webcast1SampleApp/x86/*
Webcast2SampleApp/arm/*
Webcast2SampleApp/x86/*